
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><!--Home Button-->
<link rel="stylesheet" href="{% static 'css/Login.css' %}">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" title="default" href="css/main.css">
<script type="text/javascript" src="js/jquery-1.4.1.min.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

<style>
    .btn {
        background-color: #15172b;
        border: none;
        color: #eee;
        padding: 0px 0px;
        font-size: 25px;
        cursor: pointer;
        position: relative;
        right: -315px;/*-300*/
        top: -156px;/*-128*/
    }
</style>

<a href ="http://127.0.0.1:8000/"><button class="btn"><i class="fa fa-home"></i></button></a>
<form action="" method="post">
        <div class="form" style="height: 355px;">
            <div class="title">Login</div> <br>
            <input type="hidden" name="csrfmiddlewaretoken" value="9tnZxfDoU8GuC4mOcBuHyOkcxsRXW7pDmKzYVHQzYO6CBYCK3NmgGRzi0Xcic0eH">
            {% csrf_token %}    
        <div id="div_id_username" class="form-group"> 
            <label for="id_username" class=" requiredField" style="color:white; font-family: " open=""> Username </label> 
                    <div> 
                        <input type="text" name="username" placeholder="Username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required="" id="id_username"> 
                    </div> 
                </div> 
                <div id="div_id_password" class="form-group"> 
                    <label for="id_password" class=" requiredField" style="color:white; font-family: " open=""> Password </label> 
                    <div> 
                        <input type="password" name="password" placeholder="Password" autocomplete="current-password" class="textinput textInput form-control" required="" id="id_password"> 
                    </div> 
                </div>
    
            
            
            <button type="text" class="submit">Submit</button>
        </form><br><br>
        <div class="form-group">
            <small class="text-muted ml-3">Don't have an account? <a href="http://127.0.0.1:8000/register">Sign Up</a></small>
        </div>
{% endblock %}