{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
        .quiz{
            font-family: "Open sans", sans-serif;
            font-weight: 900;
            font-size: 22px;
            color: black;
            text-decoration: none;
            margin-left: 200px;
            margin-right: 200px;
            margin-bottom: 200px;
        }
    </style>
<title>Quiz Questions And Answers</title>
</head>
<body>
<center><h1>Quiz Questions</h1></center>
<p>
<form name="quiz" class="quiz">
<p>
<b>Question 1.
<br>Which team lost most Tests in the first cycle of the WTC?<br></b>
<blockquote>
<input type="radio" name="q1" value="England">England<br>
<input type="radio" name="q1" value="Bangladesh">Bangladesh<br>
<input type="radio" name="q1" value="South Africa">South Africa<br>
</blockquote>
<p><b>
<hr>
Question 2.
<br>Who has bowled the most number of balls in the first season of the WTC?<br></b>
<blockquote>
<input type="radio" name="q2" value="Nathan Lyon">Nathan Lyon<br>
<input type="radio" name="q2" value="Ravichandran Ashwin">Ravichandran Ashwin<br>
<input type="radio" name="q2" value="Pat Cummins">Pat Cummins<br>
</blockquote>
<p><b>
<hr>
Question 3.
<br>Kane Williamson stands second currently on the list of most batting records for New Zealand behind Ross Taylor. However there's one record he currently holds. Which is it?<br></b>
<blockquote>
<input type="radio" name="q3" value="Most Test fifties">Most Test fifties<br>
<input type="radio" name="q3" value="Most ODI centuries">Most ODI centuries<br>
<input type="radio" name="q3" value="Most Test centuries">Most Test centuries<br>
</blockquote>
<p><b>
<hr>
Question 4.
<br>Williamson has been stumped once in his Test career. Who was the bowler?<br></b>
<blockquote>
<input type="radio" name="q4" value="Shakib Al Hasan">Shakib Al Hasan<br>
<input type="radio" name="q4" value="Mohammad Hafeez">Mohammad Hafeez<br>
<input type="radio" name="q4" value="Ravindra Jadeja">Ravindra Jadeja<br>
</blockquote>
<p><b>
<hr>
Question 5.
<br>Which batsman holds the embarrassing distinction of being run-out most often in ODI cricket?<br></b>
<blockquote>
<input type="radio" name="q5" value="Rahul Dravid">Rahul Dravid<br>
<input type="radio" name="q5" value="Brendon McCullum">Brendon McCullum<br>
<input type="radio" name="q5" value="Marvan Attapattu">Marvan Attapattu<br>
</blockquote>
<p><b>
<hr>
Question 6.
<br>Suresh Raina has scored one IPL hundred. However, he was denied a hundred by an error on a previous instance, and had to return for 98. What was the error?<br></b>
<blockquote>
<input type="radio" name="q6" value="His helmet fell on the stumps">His helmet fell on the stumps<br>
<input type="radio" name="q6" value="The scorers made a counting error">The scorers made a counting error<br>
<input type="radio" name="q6" value="His partner ran him out">His partner ran him out<br>
</blockquote>
<p><b>
Question 7.
<br>Who said these lines about a verdict in a crucial encounter during the 2011 World Cup edition?<br></b>
<blockquote>
<input type="radio" name="q7" value="Shahid Afridi">Shahid Afridi<br>
<input type="radio" name="q7" value="MS Dhoni">MS Dhoni<br>
<input type="radio" name="q7" value="Saeed Ajmal">Saeed Ajmal<br>
</blockquote>
<p><b>
<hr>
Question 8.
<br>Which was the first T20 league to implement the Decision Review System?<br></b>
<blockquote>
<input type="radio" name="q8" value="PSL">PSL<br>
<input type="radio" name="q8" value="BBL">BBL<br>
<input type="radio" name="q8" value="CPL">CPL<br>
</blockquote>
<p><b>
<hr>
Question 9.
<br>This lbw verdict had been reviewed. Can you predict the final outcome (wickets) on ball-tracker?<br></b>
<blockquote>
<input type="radio" name="q9" value="Wickets - hitting">Wickets - hitting<br>
<input type="radio" name="q9" value="Wickets - missing (past off-stump)">Wickets - missing (past off-stump)<br>
<input type="radio" name="q9" value="Wickets - umpire's call">Wickets - umpire's call<br>
</blockquote>
<p><b>
<hr>
Question 10.
<br>Who was the first beneficiary of the 2.5 metre rule for lbw of the UDRS?<br></b>
<blockquote>
<input type="radio" name="q10" value="Ian Bell">Ian Bell<br>
<input type="radio" name="q10" value="Alex Cusack">Alex Cusack<br>
<input type="radio" name="q10" value="JP Duminy">JP Duminy<br>
</blockquote>
<p><b>
<hr>
Question 11.
<br>Against which team did Smriti Mandhana score a double hundred in domestic one day cricket?<br></b>
<blockquote>
<input type="radio" name="q11" value="Goa U-19 Women">Goa U-19 Women<br>
<input type="radio" name="q11" value="Gujarat U-19 Women">Gujarat U-19 Women<br>
<input type="radio" name="q11" value="Rajasthan U-19 Women">Rajasthan U-19 Women<br>
</blockquote>
<p><b>
<hr>
Question 12.
<br>In which year did Smriti Mandhana become the top-ranked batter in ODIs?<br></b>
<blockquote>
<input type="radio" name="q12" value="2017">2017<br>
<input type="radio" name="q12" value="2018">2018<br>
<input type="radio" name="q12" value="2019">2019<br>
</blockquote>
<p><b>
<hr>
Question 13.
<br>"I would go to war with Dhoni by my side." - who said this?<br></b>
<blockquote>
<input type="radio" name="q13" value="Gary Kirsten">Gary Kirsten<br>
<input type="radio" name="q13" value="Virat Kohli">Virat Kohli<br>
<input type="radio" name="q13" value="Ravi Shastri">Ravi Shastri<br>
</blockquote>
<p><b>
<hr>
Question 14.
<br>Who is MS Dhoni's only ODI wicket?<br></b>
<blockquote>
<input type="radio" name="q14" value="Marlon Samuels">Marlon Samuels<br>
<input type="radio" name="q14" value="Travis Dowlin">Travis Dowlin<br>
<input type="radio" name="q14" value="Kevin Pietersen">Kevin Pietersen<br>
</blockquote>
<p><b>
<hr>
Question 15.
<br>Which was the only non-Test playing nation that featured in the tournament?<br></b>
<blockquote>
<input type="radio" name="q15" value="East Africa">East Africa<br>
<input type="radio" name="q15" value="Sri Lanka">Sri Lanka<br>
<input type="radio" name="q15" value="Zimbabwe">Zimbabwe<br>
</blockquote>
<p><b>
<input type="button"value="Grade Me"onClick="getScore(this.form);" style="margin-left: 20px;padding: 9px 25px;background-color: rgba(0,136,169,1);border: none;border-radius: 50px;color: white; background-color: rgba(0,136,169,1); margin-left: 30px;">
<input type="reset" value="Clear" style="margin-left: 20px;padding: 9px 25px;background-color: rgba(0,136,169,1);border: none;border-radius: 50px;color: white; background-color: rgba(0,136,169,1); margin-left: 30px;"><p>
Number of score out of 15 = <input type= text size 15 name= "mark">
Score in percentage = <input type=text size=15 name="percentage"><br>
</form>
<p>
<form method="post" name="Form" onsubmit="" action="">
</form>
</body>
<script>
var numQues = 15;
var numChoi = 3;
var answers = new Array(15);
answers[0] = "South Africa";
answers[1] = "Nathan Lyon";
answers[2] = "Most Test centuries";
answers[3] = "Mohammad Hafeez";
answers[4] = "Marvan Attapattu";
answers[5] = "The scorers made a counting error";
answers[6] = "Saeed Ajmal";
answers[7] = "PSL";
answers[8] = "Wickets - umpire's call";
answers[9] = "Ian Bell";
answers[10] = "Gujarat U-19 Women";
answers[11] = "2019";
answers[12] = "Gary Kirsten";
answers[13] = "Travis Dowlin";
answers[14] = "Zimbabwe";
function getScore(form) {
var score = 0;
var currElt;
var currSelection;
for (i=0; i<numQues; i++) {
currElt = i*numChoi;
answered=false;
for (j=0; j<numChoi; j++) {
currSelection = form.elements[currElt + j];
if (currSelection.checked) {
answered=true;
if (currSelection.value == answers[i]) {
score++;
break;
}
}
}
if (answered ===false){alert("Do answer all the questions, Please") ;return false;}
}
var scoreper = Math.round(score/numQues*100);
form.percentage.value = scoreper + "%";
form.mark.value=score;
}
</script>
</html>
{% endblock %}