{% extends 'base.html' %}

{% block content %}
<br><br>
<h1 style="text-align: center;">LIVE MATCHES</h1>
<br><br>
<div class="card" style="margin-left:400px;margin-right:400px">

    <div class="card-header"style="font-weight: 900;font-size: 150%;">
        {{ description }}
    </div>
    <div class="card-body">
      <h5 class="card-title"style="font-weight: 500;">{{ team1_name }} vs {{ team2_name }}</h5><br>
      <p class="card-text"style="font-weight: 500;">{{ location }}</p><br>
      <p class="card-text"style="font-weight: 500;">{{ current }}</p><br>
      <p class="card-text"style="font-weight: 500;">{{ status }}</p><br>
      <p class="card-text"style="font-weight: 500;">{{ team1_name }} : {{ team1_score }}</p><br>
      <p class="card-text"style="font-weight: 500;">{{ team2_name }} : {{ team2_score }}</p><br>

    </div>
  </div>
  {% include "upcoming.html" %}
  <br><br>


{% endblock %}
